.navbar-light .navbar-nav .nav-link {
    color: #474747 !important;
    font-family: 'Poppins' !important;
    font-size: '14px';
    font-weight: 400;
    position: relative;
}

.navbar-light .navbar-nav .nav-link:hover {
    opacity: 1;
}
  
.navbar-light .navbar-nav .nav-link::before {
    transition: 300ms;
    height: 3px;
    content: "";
    position: absolute;
    background-color: #7AB259;
}
  
.navbar-light .navbar-nav .nav-link::before {
    width: 0%;
    bottom: 5px;
}
  
.navbar-light .navbar-nav .nav-link:hover::before {
    width: 100%;
}

@media (max-width: 769px){
    .navbar-nav{
        align-items: center;
    }        
}